<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="apikey" value="YOUR_API_KEY" />
    <add key="fromaddr" value="from-csharp@yourdomain.com" />
    <add key="toaddr" value="to@you.com" />
    <add key="ccaddr" value="cc@them.com" />
    <add key="bccaddr" value="bcc@sneaky.com" />
  </appSettings>
</configuration>
